# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env

# SQL
*.sql~
*.bak
*.db

# Power BI
*.pbix

# Jupyter Notebooks
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
